<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Invoice</title>
</head>
<body>
  <h1>Add Invoice</h1>

  <form action="/addInvoice" method="post">
    <label for="invoiceNo">InvoiceNo:</label>
    <input type="text" name="InvoiceNo" required><br>

    <label for="manufacturer">Manufacturer:</label>
    <input type="text" name="Manufacturer" required><br>

    <label for="vehicleClass">Class:</label>
    <input type="text" name="vehicleClass" required><br>

    <label for="salesInThousands">Sales in Thousands:</label>
    <input type="number" name="Sales_in_thousands" required><br>

    <label for="resaleValue">Year Resale Value:</label>
    <input type="number" name="__year_resale_value" required><br>

    <label for="vehicleType">Vehicle Type:</label>
    <input type="text" name="Vehicle_type" required><br>

    <label for="priceInThousands">Price in Thousands:</label>
    <input type="number" name="Price_in_thousands" required><br>

    <label for="engineSize">Engine Size:</label>
    <input type="number" name="Engine_size" required><br>

    <label for="horsepower">Horsepower:</label>
    <input type="number" name="Horsepower" required><br>

    <label for="wheelbase">Wheelbase:</label>
    <input type="number" name="Wheelbase" required><br>

    <label for="width">Width:</label>
    <input type="number" name="Width" required><br>

    <label for="length">Length:</label>
    <input type="number" name="Length" required><br>

    <label for="curbWeight">Curb Weight:</label>
    <input type="number" name="Curb_weight" required><br>

    <label for="fuelCapacity">Fuel Capacity:</label>
    <input type="number" name="Fuel_capacity" required><br>

    <label for="fuelEfficiency">Fuel Efficiency:</label>
    <input type="number" name="Fuel_efficiency" required><br>

    <label for="latestLaunch">Latest Launch:</label>
    <input type="text" name="Latest_Launch" required><br>

    <label for="powerPerfFactor">Power Performance Factor:</label>
    <input type="number" name="Power_perf_factor" required><br>

    <button type="submit">Add Invoice</button>
  </form>
</body>
</html>
